/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utils */
.container {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

/* header */

.header {
  width: 100%;
  background-color: #ff6900;
  min-height: 80px;
}
.logo {
  vertical-align: middle;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.header-nav-right ul {
  list-style-type: none;
}

.header-nav-left ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
  vertical-align: middle;
}

.header-nav-right li {
  display: inline-block;
  vertical-align: middle;
}
.header-nav-left li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header-nav-left a {
}
