/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*UTILS */

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: 300px;
 
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.header-nav-right ul {
  list-style-type: none;
}

.header-nav-left ul {
  
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
  vertical-align: middle;
}

.header-nav-right li {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}
.header-nav-left li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

/* header */

.header {
  width: 100%;
  background-color: #ff6900;
  min-height: 80px;
  position: fixed;
  display: flex;
  justify-content: right;
  z-index: 2;
  align-items: center;
}
.logo {
  vertical-align: middle;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/*.header-nav-left a {
}*/

/* foto */

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin-top: 50px;
  width: calc(100% / 3 - 50px);
  min-width: 200px;
  height: 100%;
  text-align: center;
  background-size: cover;
  padding: 5px;
  margin-bottom: 50px;
  /* debug
  background-color: red;*/
}
.card img {
  margin: 0 auto;
  display: block;
  width: 100%;
}
/* img-none inizio*/
.card .img-none {
  display: none;
  margin: 0 auto;
  width: 100%;
}

.card:hover .img-none {
  display: block;
}

.card:hover img {
  display: none;
}

/* img-none fine*/

/*ETICHETTE*/

.card .heart {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1;
}
.heart {
  background-color: white;
  font-size: xx-large;
  padding: 3px;
  margin-right: -30px;
  width: 60px;
}
.heart:hover{
  color: red;
}

.sale {
  background-color: red;
  color: white;
  font-size: small;
  padding: 5px;
  width: 40px;
  margin-bottom: -80px;
}
.card .sale {
  position: absolute;
  bottom: 150px;
}
.sostenibilità {
  background-color: green;
  color: white;
  font-size: small;
  padding: 5px;
  width: 100px;
}
.card .sostenibilità {
  position: absolute;
  left: 45px;
  bottom: 70px;
}

/* FINE ETICHETTE*/

/*FOOTER*/
.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-left p ul {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
}

.footer-nav-right ul {
  color: white;
}

.footer-nav-left li {
  list-style-type: none;
  align-items: start;
}

.footer-nav-right li {
  list-style-type: none;
}
